.container {
    display: flex;
}

.search-input {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        justify-content: center;
        margin-bottom: 1rem;
    }
}