.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.container h1 {
  width: 90%;
  text-align: center;
  margin: 10px auto;
}

.likes-button {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  right: 1rem;
  bottom: -1rem;
  height: 4rem
}

.likes-button p {
  font-size: 1.4rem;
  margin-right: 5px;
}

.content {
  height: auto;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text-container p {
  font-size: 1rem;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
  }
  .likes-button {
    position: relative;
    right: 0;
    bottom: 0;
  }

  .content {
    height: auto;
  }
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px;
}

.action-buttons button {
  margin: 5px;
}
